* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #002437;
  font-family: "Syne", sans-serif;
  height: 100%;
  overflow-x: hidden;
}

.AppFrontWrapper {
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 20;
}

ul {
  list-style: none;
}
